@charset "utf-8";
/* CSS Document */
/*wemo*/

html,body{ margin:0; padding:0; font-family:"Microsoft YaHei"; font-size:14px; background:#fff;}
img{ margin:0; padding:0; border:none;}
a{ text-decoration: none; color: #333;}
.alla a{ text-decoration:none; color:#999;}
.alla a:hover{ color:#ff5c3c;}
.atr{ -webkit-transit:all 0.2s;-moz-transition: all 0.2s;-o-transition: all 0.2s;}
button {cursor: pointer}
.yffi{filter:alpha(Opacity=92);-moz-opacity:0.92;opacity: 0.92;} 
.bradius{ border-radius:10px;}
.bshadow{-moz-box-shadow:1px 1px 5px #ddd; -webkit-box-shadow:1px 1px 5px #ddd; box-shadow:1px 1px 5px #ddd;}
.cff{ color:#ff5c3c !important;}
.doupic{ width:18px; height:18px; margin:6px 0 0 0; float:left;}
.fltl{ float:left;}
.fltr{ float:right;}
.fontf{ font-family:"Microsoft YaHei";}
@font-face{
	font-family:"RTWSYueRoudGoDemo";
	src: url(RTWSYueRoudGoDemo-Regular.otf);
}
.fontr{font-family:"RTWSYueRoudGoDemo";}

/*Header*/
.header{ margin: 0;}
.tops{ width: 100%; height: 36px; background: #f5f5f5; border-bottom: 1px solid #dcdcdc; margin: 0 auto;}
.tops-cen{ width:1200px; height: 36px; margin: 0 auto;}
.tops-left font{ line-height: 36px; color: #999; margin: 0 10px 0 0; float: left;}
.tops-left a{ float: left; margin: 0 5px 0 0; line-height: 36px; text-decoration: none; color: #333;}
.tops-left a img{ width: 26px; height: 26px; margin: 5px 0; float: left; border-radius: 50%; display: block; overflow: hidden;}
.tops-left a em{ font-style: normal; float: left;}
.tops-right a{ float: left; margin: 0 0 0 25px; line-height: 36px; text-decoration: none;}
.header-main{ width: 1200px; height: 110px; margin: 0 auto;}
.logos{ width: 390px; float: left;}
.logos img{ height: 40px; margin: 35px 0 0 30px; border: none; float: left;}
.logos span{ height: 30px; background: #ff5c3c; padding: 0 15px; line-height: 30px; color: #fff; font-size: 16px; display: block; overflow: hidden; float: left; margin: 40px 0 0 10px; border-radius: 20px;}
.searchs{ width: 420px; height: 40px; margin: 35px 0 0 0 ; float: left;}
.searchs-text{ width: 336px; height: 36px; line-height: 36px; border: 2px solid #a3a3a3; border-right: none; float: left; background: none; outline: none; font-size: 14px; padding: 0 15px;}
.searchs-btn{ width: 50px; height: 40px; float: left; background: #ff5c3c; border: none; outline: none;}
.searchs-btn img{ float: left; width: 100%;}
.searchs-btn:hover{ background: #bb3e25; cursor: pointer;}
.steps{ float: right; height: 40px; margin: 35px 0 0 0;}
.steps img{ width: 40px; height: 40px; float: left; margin: 0 0 0 15px;}
.steps span{ float: left; line-height: 20px; color: #999; margin: 0 0 0 5px;}
.steps font{ width: 100%; color: #333; display: block; font-size: 14px;}
.navs{ width: 100%; height: 40px; background: #333; margin: 0 auto;}
.navs-cen{ width: 1200px; margin: 0 auto;}
.types{ width: 200px; height: 50px; background: #ff5c3c; margin-top: -10px; float: left;}
.types-lam{ width: 200px; height: 50px; text-align: center; font-size: 16px; line-height: 50px; color: #fff; background: url(../img/types-lam-bac.png) no-repeat; cursor: pointer;}
.types-cot{ width: 700px; position: absolute; z-index: 9999; border-bottom: 1px solid #333; border-left: 1px solid #333; border-right: 1px solid #333; display: none; overflow: hidden; -webkit-transit:all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s; background: url(../img/types-cot-bac.png); padding-bottom:-1px;}
.types-one{ width: 200px; float: left;}
.types-one a{ width: 179px; line-height: 39px; height: 39px; padding:0 0 0 20px; border-bottom: 1px solid #eee; text-decoration:none; display: block; overflow: hidden; font-size: 14px; color: #333; float: left;}
.types-one a:hover{ border-top: 1px solid #333; border-bottom: 1px solid #333;}
.types-two{ width: 460px; display: none; overflow: hidden; padding:0 20px; float:left; border-top: 1px solid #333;}
.types-two-li{ width: 100%; display: block; overflow: hidden; border-bottom: 1px dashed #ddd; padding: 10px 0;}
.types-two-li em{ font-style: normal; width: 100px; float: left; display: block; overflow: hidden; line-height: 24px; color:#666;}
.types-two-li span{ width: 260px; float: left; display: block; overflow: hidden;}
.types-two-li span a{ display: block; overflow: hidden; float: left; margin-right: 20px; line-height: 24px; text-decoration: none; color: #999;}
.types-two-li span a:hover{ color: #ff5c3c;}
.types:hover .types-lam{ background: url(../img/types-lam-bac02.png) no-repeat;}
.types:hover .types-cot{ display: block;}
.toaction{ width:180px !important; border-top: 1px solid #333; border-color: #333 !important; background:#fff; color:#ff5c3c !important;}
.navs-a{ float: left; line-height: 40px;}
.navs-a a{ float: left; margin-left: 40px; font-size: 16px; color: #fff; text-decoration: none; display: block; overflow: hidden;}

/*Footer*/
.footer{ width: 100%; background: #333; display: block; overflow: hidden;}
.footer-top{ width: 1200px; display: block; overflow: hidden; margin: 50px auto 0 auto;}
.footer-logos{ width: 260px; float: left;}
.footer-logos img{ width: 160px; float: left;}
.footer-navs{ width: 520px; float: left;}
.footer-navs span{ width: 130px; display: block; overflow: hidden; float: left;}
.footer-navs em{ font-size: 16px; color: #999; font-style: normal; display: block; padding-bottom: 10px;}
.footer-navs font{ width: 100%; display: block; overflow: hidden; line-height: 24px; font-size: 14px;}
.footer-navs a{ text-decoration: none; color: #999;}
.footer-navs a:hover{ color: #fff;}
.footer-top-nbsp{ width: 1px; height: 100px; background: #4d4d4d; float: left; margin-left: 50px;}
.footer-right{ float: right;}
.footer-right span{ width: 100%; display: block; overflow: hidden; line-height: 24px; color: #999; font-size: 14px;}
.footer-right span b{ color: #fff;}
.footer-info{ width: 1200px; display: block; overflow: hidden; border-top: 1px solid #4d4d4d; line-height: 30px; padding: 10px 0; color: #999; text-align: center; margin:50px auto 0 auto;}

.swiper-ban img{ height: 500px;}
.swiper-ban .swiper-slide{ height: 500px;}
.swiper-ban .swiper-slide a{ width: 100%; height: 500px; display: block; overflow: hidden;}

/*登录注册*/
.landr-top{ width: 1000px; margin: 20px auto; display: block; overflow: hidden;}
.landr-top img{ height:40px; float: left;}
.landr-top font{line-height: 40px; font-size: 18px; color: #333; float: left; margin-left: 30px;}
.landr-main{ width: 100%; min-height: 500px; background: #f2f2f2; margin: 0 auto; display: block; overflow: hidden;}
.landr-cen{ width: 1000px; height: 400px; margin: 25px auto;}
.landr-form{ width: 300px; max-height: 400px; padding: 25px; float: right; background: #fff; display: block; overflow: hidden;}
.landr-form .formslam{ font-size:18px; color: #333; display: block; overflow: hidden; padding-bottom: 10px;}
.landr-form .forms-text{ width: 298px; height: 38px; border: 1px solid #ddd; margin: 15px auto 0 auto;}
.landr-form .forms-text .forms-icon{ width: 38px; height: 38px; background: #f7f7f7; float: left;}
.landr-form .forms-text .forms-icon img{ float: left; width: 28px; height: 28px; padding: 5px;}
.landr-form .forms-text input{ width: 240px; height: 38px; line-height: 38px; padding: 0 10px; float: left; border: none; background: none; font-size: 14px; outline: none;}
.landr-form .forms-code{ width: 100px; height: 36px; position: absolute; z-index: 9; margin: 1px 0 0 197px; background: #ccc;}
.landr-form .forms-code img{ width: 100px; height: 36px;}
.landr-form .forms-code a{ width: 100px; height: 36px; line-height: 36px; text-align: center; text-decoration: none; color: #333; display: block; overflow: hidden; font-size:12px;}
.landr-form .forms-pwd{ width: 100%; line-height: 36px; display: block; overflow: hidden;}
.landr-form .forms-pwd a{ float: right; text-decoration: none; color: #333;}
.landr-form .forms-pwd a:hover{ text-decoration: underline;}
.landr-form .forms-go{ width: 100%; line-height: 36px; display: block; overflow: hidden; text-align: center;}
.landr-form .forms-go a{ text-decoration: none; color: #333;}
.landr-form .forms-go a:hover{ text-decoration: underline;}
.landr-form .forms-radio{ width: 100%; height: 40px; display: block; overflow: hidden; margin-top: 10px;}
.landr-form .forms-radio input{ width: 16px; height: 16px; margin: 12px 5px 0 0; float: left;}
.landr-form .forms-radio a{ float: left; line-height: 40px; text-decoration: none; color: #333;}
.landr-form .forms-radio a:hover{ text-decoration: underline;}
.landr-form .forms-btn{ width: 300px; height: 40px; display: block; overflow: hidden; background: #ff5c3c; border: none; color: #fff; text-align: center; font-size: 16px; line-height: 40px; outline: none; margin: 20px auto;}
.landr-form .forms-btn:hover{ cursor: pointer; background: #bb3e25;}
.landr-bot{ width: 1000px; margin: 20px auto 0 auto; line-height: 30px; font-size: 14px; text-align: center; color: #333; display: block; overflow: hidden;}
.landr-r{ margin-right: 325px;}


.mains{ width: 100%; display: block; overflow: hidden; background: #f5f5f5; padding: 25px 0 50px 0; min-height: 500px;}

.hots{ width: 1200px; display: block; overflow: hidden; padding: 24px 0; margin: 0 auto; background: #fff;}
.hots-cot{ width: 1200px;}
.hots-cot a{ width: 270px; height: 270px; margin-left: 24px; float: left; display: block; overflow: hidden;}
.hots-cot img{ width: 100%; float: left;}
.hota{ display: none;}
.hots:hover .hota{ display: block;}

.products{ width: 1200px; display: block; overflow: hidden; margin: 35px auto 0 auto;}
.products-lam{ width: 260px; margin: 0 auto; display: block; overflow: hidden;}
.products-lam em{ width: 40px; height: 2px; background: #333; float: left; margin: 24px 0 0 0;}
.products-lam span{ width: 160px; line-height: 50px; font-size: 30px; display: block; overflow: hidden; text-align: center; margin: 0 10px; float: left; color: #333;}
.products-cot{ width: 1200px; display: block; overflow: hidden; margin: 0 auto;}
.products-cot ul{ width: 1215px; padding: 0; margin: 0; display: block; overflow: hidden;}
.products-cot ul li{ list-style: none; width: 340px; padding: 23px; background: #fff; display: block; overflow: hidden; float: left; margin: 15px 15px 0 0; border: 2px solid #fff;}
.products-cot ul li:hover{ border-color: #333; -webkit-transit:all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;}
.products-cot a{ text-decoration: none; color: #333;}
.products-pic{ width: 340px; height: 340px; display: block; overflow: hidden;}
.products-pic img{ width: 100%; border: 0; float: left;}
.products-tit{ width: 340px; height: 50px; line-height: 50px; display: block; overflow: hidden; font-size: 14px; color: #333;}
.products-info{ width: 340px; height: 20px; line-height: 20px; display: block; overflow: hidden; font-size: 14px; color: #999;}
.products-info span{ float: right; margin-left: 10px;}
.products-by{ color: #666;}
.products-by em{ color: #999; padding: 0 5px 0 0;}

/*right*/
.iright-r{ width: 16px; height: 60px; position: fixed; top: 50%; margin-top: -30px; right: 40px; z-index: 9999; background: url( ../img/iright-r.png); cursor: pointer;}
.iright-l{ width: 16px; height: 60px; position: fixed; top: 50%; margin-top: -30px; right: 40px; z-index: 9999; background: url( ../img/iright-l.png); cursor: pointer;}
.iright-r:hover{ cursor: pointer;}
.irights{ position: fixed; top: 0; bottom: 0; right: 0; background: url( ../img/irights-bac.png) repeat-y right; z-index: 9999;}
.irights-mt{ margin-top: 190px;}
.irights-li{ display: block; overflow: hidden;-webkit-transit:all 0.2s;-moz-transition: all 0.2s;-o-transition: all 0.2s;}
.irights-li img{ width: 34px; padding: 3px; float: right;}
.irights-li:hover{ background: #333; cursor: pointer;}
.irights-bot{ position:fixed; bottom: 0; right: 0;}
.irights-note{ width: 80px; height: 40px; text-align: center; line-height: 40px; color: #fff; display: none; float: left;}
.irights-li:hover .irights-note{ display: block;}

/*分页样式*/
#page{ width:100%; display:block; overflow:hidden; margin:20px;}
.page-item{ display:block; overflow:hidden; float:left; text-align:center; line-height:40px; min-width:40px; background:#f7f7f7; margin-right:10px;}
.page-item a{ text-decoration:none;padding:0 10px; display:block; overflow:hidden; color:#666;}
.page-item.active{ background:#ff6600;}
.page-item.active a{ color:#fff !important;}
.page-item:hover a{ color:#ff6600;}
.page-item:hover span{ color:#ff6600; cursor:pointer;}
.page-item span{ padding:0 10px; display:block; overflow:hidden;}

/*links*/
.links{ width: 1200px; display: block; overflow: hidden; line-height: 20px; margin: 0 auto;}
.links a{ float: left; color: #999; margin-right: 10px; text-decoration: none; font-size: 14px;}
.links a:hover{ color: #333;}

/*info*/
.infos{ width: 1200px; display: block; overflow: hidden; margin:15px auto 0 auto;}
.infos-left{ width: 245px; float: left;}
.infos-left span{ width: 245px; background: #fff; display: block; overflow: hidden; margin-bottom: 15px; padding-bottom: 10px;}
.infos-left em{ width: 195px; line-height: 50px; background: #ddd; color:#333; display: block; overflow: hidden; font-size: 14px; font-weight: bold; padding: 0 25px; font-style: normal;}
.infos-left a{ width: 195px; line-height: 30px; padding: 0 25px; display: block; overflow: hidden; text-decoration: none; color: #333; font-size: 14px; margin:5px auto 0 auto;}
.infos-left a:hover{ color: #ff5c3c;}
.infos-right{ width: 880px; min-height: 500px; float: right; background: #fff; padding:0 25px 25px 25px; display: block; overflow: hidden;}
.infos-tit{ width: 880px; border-bottom: 1px solid #eee; font-size: 18px; line-height: 50px;}
.infos-details{ width: 880px; display: block; overflow: hidden; padding-top: 25px; line-height: 30px; font-size: 14px;}
.infos-details img{ max-width: 100%;}
.news-list{ width: 880px; display: block; overflow: hidden;}
.news-list ul{ padding: 0; margin: 0;}
.news-list ul li{ font-style: normal; width: 100%; display: block; overflow: hidden; margin: 25px auto 0 auto;}
.news-list ul li .nl-pic{ width: 150px; height: 100px; display: block; overflow: hidden; float: left;}
.news-list ul li .nl-pic img{ width: 100%; float: left;}
.news-list ul li .nl-right{ width: 705px; float: right;}
.news-list ul li .nl-tit{ width: 100%; height: 30px; line-height: 30px; font-size: 16px; display: block; overflow: hidden;}
.news-list ul li .nl-time{ width: 100%; height: 22px; line-height: 22px; display: block; overflow: hidden; margin-top: 4px;}
.news-list ul li .nl-dec{ width: 100%; height: 44px; line-height: 22px; color: #999; display: block; overflow: hidden;}
.news-list ul li a:hover{ color: #ff5c3c;}
.news-details{ width: 100%; display: block; overflow: hidden;}
.news-details .nd-tit{ width: 100%; line-height: 50px; font-size: 24px; text-align: center; margin-top: 25px;}
.news-details .nd-time{ width: 100%; height: 22px; line-height: 22px; display: block; overflow: hidden; margin-top: 10px; text-align: center;}
.news-details .nd-cot{ width: 100%; display: block; overflow: hidden; margin-top: 25px;}
.news-details .nd-cot img{ max-width: 100%;}

/*list*/
.plists{ width: 1150px; padding: 25px; display: block; overflow: hidden; margin:15px auto 0 auto; background: #fff; font-size: 14px;}
.plists-lam{ font-size: 16px; font-weight: bold; padding-bottom: 15px;}
.plists-li{ width: 1150px; display: block; overflow: hidden; border-top: 1px dashed #eee;}
.plists-li em{ width: 110px; float: left; line-height: 30px; padding: 10px 0; font-style: normal; color: #999; display: block; overflow: hidden;}
.plists-li span{ width: 1030px; float: right; line-height: 30px; padding: 10px 0; font-style: normal; color: #999; display: block; overflow: hidden;}
.plists-li a{ text-decoration: none; color: #333; margin-right: 25px; float: left;}
.plists-li a:hover{ color: #ff5c3c;}
.plists-li a.plaction{ color: #ff5c3c;}
.plists-sort{ width: 1200px; line-height: 50px; display: block; overflow: hidden; margin: 15px auto 0 auto; background: #fff; font-size: 14px;}
.plists-sort .sort-lam{ float: left; font-size: 18px; color: #ff5c3c; margin-left: 10px; font-weight: bold;}
.plists-sort .sort-a{ float: left; font-size: 14px; margin-left: 20px;}
.plists-sort .sort-a a{ line-height: 44px; display: block; overflow: hidden; float: left; margin: 3px 10px 0 0; text-decoration: none;}
.plists-sort .sort-a .saction{ color: #ff5c3c; border-bottom: 3px solid #ff5c3c;}
.plists-sort .sort-total{ float: right; margin-right: 25px;}
.plists-sort .sort-total em{ color: #ff5c3c; font-style: normal;}

/*details*/
.pdetails-top{ width: 1150px; background: #fff; padding: 25px; display: block; overflow: hidden; margin: 15px auto 0 auto;}
.pdetails-left{ width: 402px; float: left;}
.pdetails-right{ width: 700px; float: right;}
.pdetails-right .pr-lam{ width:100%; line-height: 50px; font-size: 24px; display: block; overflow: hidden;}
.pdetails-right .pr-dec{ width:100%; line-height: 24px; font-size: 14px; color: #999; display: block; overflow: hidden; margin-top: 10px;}
.pdetails-right .pr-price{ width:100%; line-height: 60px; font-size: 14px; display: block; overflow: hidden; border-top: 1px solid #eee; border-bottom: 1px solid #eee; margin-top: 30px;}
.pdetails-right .pr-price span{ float: left;}
.pdetails-right .pr-price em{ color: #ff5c3c; font-size: 24px; font-style: normal; float: left;}
.pdetails-right .pr-num{ width: 100%; display: block; overflow: hidden; padding: 25px 0;}
.pdetails-right .pr-num span{ float: left; line-height: 36px; padding-right: 10px; font-size: 14px;}
.pdetails-right .pr-num-btn{ width: 36px; height: 36px; background: #ddd; float: left; border: none; text-align: center; line-height: 36px; outline: none;}
.pdetails-right .pr-num-btn:hover{ background: #333; cursor: pointer; color: #fff;}
.pdetails-right .pr-num-text{ width: 50px; height: 32px; background: #fff; float: left; border: 2px solid #ddd; border-left: none; border-right: none; padding: 0; text-align: center; line-height: 32px; display: block; overflow: hidden; outline: none;}
.pdetails-right .pr-sub{ width: 100%; display: block; overflow: hidden; padding: 25px 0;}
.pdetails-right .pr-sub-btn{ height: 40px; background: #ff5c3c; float: left; display: block; overflow: hidden; font-size: 16px; color: #fff; padding: 0 20px;  border: none; text-align: center; line-height: 40px; outline: none;}
.pdetails-right .pr-sub-btn img{ width: 30px; height: 30px; margin: 5px 5px 5px 0; float: left;}
.pdetails-right .pr-sub-btn em{ font-style: normal; float: left;}
.pdetails-right .pr-sub-cart{ height: 40px; background: #fff; border: 2px solid #ff5c3c; float: left; display: block; overflow: hidden; font-size: 16px; color: #ff5c3c; padding: 0 20px; line-height: 40px; outline: none; margin-left: 20px;}
.pdetails-right .pr-sub-like{ border: none; background: #fff; color: #333; padding-left: 40px; margin-left: 30px; background-size:40px;}
.like-check{ background: url("../img/rights-icon-like03.png") no-repeat left center !important; color: #ff5c3c !important; background-size: 40px !important;}
.picshowtop{width:400px; height: 400px; border: 1px solid #333; text-align:center;position:relative;z-index:1;overflow:hidden;}
#pic1{ width:400px;}
.picshowlist_mid{float:left;width:706px;display:inline;overflow:hidden;}
.picmidmid{float:left;width:400px;overflow:hidden;height:60px; margin-top:5px;}
.picmidmid ul{width:400px;overflow:hidden;position:relative;height:60px; padding:0; margin:0;}
.picmidmid ul li{float:left;margin-right:8px;display:inline;width:60px;text-align:center;overflow:hidden;position:relative;height:60px; list-style:none;}
.picmidmid ul li img{width:60px;height:60px; float:left;}
.selectpic{border:2px solid #ff5c3c !important;height:56px !important; width:56px !important;}

.pdetails-lam{ width: 1200px; background: #fff; display: block; overflow: hidden; margin: 15px auto 0 auto;}
.pdetails-lam a{ display: block; overflow: hidden; float: left; margin: 0 25px; line-height: 50px; border-bottom:3px solid #fff; text-decoration: none; color: #333; font-size: 16px;}
.pdetails-lam a.paction{ color: #ff5c3c; border-color: #ff5c3c;}
.pdetails-bot{ width: 1150px; background: #fff; padding: 25px; display: block; overflow: hidden; margin: 1px auto 0 auto;}
.pdetails-det{ width: 1150px; display: block; overflow: hidden;}
.pdetails-det img{ max-width: 100%;}
.pdetails-bot .pb{ display: none;}
.pdetails-eva{ width: 100%; display: block; overflow: hidden;}
.pdetails-eva ul{ margin: 0; padding: 0;}
.pdetails-eva ul li{ list-style: none; width: 100%; display: block; overflow: hidden; margin: 5px 0 15px 0;}
.pdetails-eva .pe-pic{ float: left; width: 150px;}
.pdetails-eva .pe-pic img{ width: 30px; height: 30px; border-radius: 50%; border: 1px solid #eee; float: left;}
.pdetails-eva .pe-pic em{ font-style: normal; line-height: 30px; float: left;}
.pdetails-eva .pe-right{ width: 950px; float: right; display: block; overflow: hidden; border-bottom: 1px dashed #ddd; padding-bottom: 10px;}
.pdetails-eva .pe-store{ width: 100%; height: 30px; line-height: 30px; font-weight: bold; color: #ff5c3c;}
.pdetails-eva .pe-details{ width: 100%; display: block; overflow: hidden; line-height: 24px; padding: 3px 0;}
.pdetails-eva .pe-time{ width: 100%; height: 30px; line-height: 30px; color: #999;}
.pdetails-model{ width: 1150px; display: block; overflow: hidden;}
.pdetails-model ul{ width: 1215px; padding: 0; margin: 0;}
.pdetails-model ul li{ list-style: none; width: 272px; background: #fff; display: block; overflow: hidden; float: left; margin: 15px 15px 0 0; border: 2px solid #eee;}
.pdetails-model ul li:hover{ border-color: #333; -webkit-transit:all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;}
.pdetails-model ul li .pm-pic{ width: 226px; height: 226px; padding: 23px 23px 0 23px;}
.pdetails-model ul li .pm-pic img{ width: 100%; float: left;}
.pdetails-model ul li .pm-tit{ width: 226px; height: 40px; line-height: 40px; display: block; overflow: hidden; margin: 0 auto;}
.pdetails-model ul li .pm-a{ width: 100%; height: 40px; background: #f7f7f7; display: block; overflow: hidden;}
.pdetails-model ul li .pm-a a{ width: 50%; text-align: center; display: block; overflow: hidden; float: left; line-height: 40px; color: #999; font-size: 12px;}
.pdetails-model ul li .pm-a a:hover{ color: #ff5c3c;}


/*mall*/
.mall-cot{ width: 1200px; display: block; overflow: hidden; margin: 0 auto;}
.mall-cot ul{ width: 1215px; padding: 0; margin: 0; display: block; overflow: hidden;}
.mall-cot ul li{ list-style: none; width: 238.75px; padding: 23px; background: #fff; display: block; overflow: hidden; float: left; margin: 15px 15px 0 0; border: 2px solid #fff;}
.mall-cot ul li:hover{ border-color: #333; -webkit-transit:all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;}
.mall-cot a{ text-decoration: none; color: #333;}
.mall-pic{ width: 238.75px; height: 238.75px; display: block; overflow: hidden;}
.mall-pic img{ width: 100%; border: 0; float: left;}
.mall-tit{ width: 100%; height: 50px; line-height: 50px; display: block; overflow: hidden; font-size: 14px; color: #333;}
.mall-cart{ float: right; margin: 35px 0 0 0;}
.mall-cart img{ width: 26px; height: 26px; margin: 7px; float: left;}
.mall-cart span{ line-height: 40px; float: left;}
.mall-l{ margin-left: 150px;}
.footer-mall-logos{ width: 100%; display: block; overflow: hidden;}
.footer-mall-logos img{ width: 160px; margin: 0 auto; display: block; overflow: hidden;}
.footer-mall-right{ width: 100%; display: block; overflow: hidden; text-align: center; line-height: 24px; color: #999; font-size: 14px; margin: 50px auto 0 auto;}
.footer-mall-right b{ color: #fff;}

/*cart*/
.carts-top{ width: 1000px; margin: 20px auto; display: block; overflow: hidden;}
.carts-top img{ height:40px; float: left;}
.carts-top font{line-height: 40px; font-size: 18px; color: #333; float: left; margin-left: 30px;}
.carts-main{ width: 100%; display: block; overflow: hidden; background: #f7f7f7; margin: 0 auto;}
.carts{ width: 1000px; min-height: 500px; display: block; overflow: hidden; background: #fff; padding:0; margin: 0 auto;}
.carts-li{ width: 100%; display: block; overflow: hidden;}
.carts-li .cl-lam{ float: left; line-height: 40px; color: #fff; display: block; overflow: hidden;}
.carts-li .ctw1{ width: 100px;}
.carts-li .ctw1 input{ width: 16px; height: 16px; margin: 12px 6px 12px 12px; float: left;}
.carts-li .ctw1 label{ float: left;}
.carts-li .ctw2{ width: 340px;}
.carts-li .ctw3{ width: 140px; text-align: center;}
.ctcolor{ background: #333;}
.ctmargin{ margin: 22px 6px 22px 12px !important;}
.carts-bot{ width: 1000px; margin: 20px auto 0 auto; line-height: 30px; font-size: 14px; text-align: center; color: #333; display: block; overflow: hidden;}
.carts-li .cl-li{ float: left; line-height: 60px; height: 60px; display: block; overflow: hidden; padding: 20px 0; border-bottom: 1px solid #eee;}
.carts-pic{ width: 60px; height: 60px; float: left; display: block; overflow: hidden;}
.carts-pic img{ width: 100%; float: left;}
.carts-dec{ width: 260px; height: 60px; line-height: 30px; display: block; overflow: hidden; float: right;}
.carts-del{ color: #999;}
.carts-num{ width: 100px; display: block; overflow: hidden; margin: 15px auto;}
.carts-num-btn{ width: 30px; height: 30px; background: #ddd; float: left; border: none; text-align: center; line-height: 30px; outline: none;}
.carts-num-btn:hover{ background: #333; cursor: pointer; color: #fff;}
.carts-num-text{ width: 40px; height: 26px; background: #fff; float: left; border: 2px solid #ddd; border-left: none; border-right: none; padding: 0; text-align: center; line-height: 26px; display: block; overflow: hidden; outline: none;}

.carts-sub{ width: 1000px; display: block; overflow: hidden; margin: 0 auto; padding: 20px 0; background: #fff;}
.carts-sub-select{ float: left; line-height: 40px;}
.carts-sub-select input{ width: 16px; height: 16px; margin: 12px 6px 12px 12px; float: left;}
.carts-sub-select label{ float: left;}
.carts-btn{ float: right; display: block; overflow: hidden; line-height: 40px; background: #ff5c3c; border: none; font-size: 18px; color: #fff; margin-right: 20px; padding: 0 20px;}
.carts-total{ line-height: 40px; float: left; margin-right: 100px; font-weight: bold; font-size: 18px;}
.carts-total em{ font-style: normal; color: #ff5c3c;}
/*member*/
.mes{ width: 1200px; display: block; overflow: hidden; margin:0 auto;}
.mes-left{ width: 200px; float: left;}
.mes-left span{ width: 200px; background: #fff; display: block; overflow: hidden; padding-bottom: 10px;}
.mes-left .ml-bor{ border-top:1px solid #ddd; padding-top: 10px;}
.mes-left em{ width: 150px; line-height: 50px; background: #ddd; color:#333; display: block; overflow: hidden; font-size: 18px; font-weight: bold; padding: 0 25px; font-style: normal;}
.mes-left a{ width: 150px; line-height: 30px; display: block; overflow: hidden; text-decoration: none; color: #333; font-size: 14px; margin:5px auto 0 auto;}
.mes-left a:hover{ color: #ff5c3c;}
.mes-right{ width: 925px; min-height: 500px; float: right; background: #fff; padding:0 25px 25px 25px; display: block; overflow: hidden;}
.mes-lam{ width: 925px; line-height: 50px; border-bottom: 1px solid #eee; font-size: 16px;}

/*meinfo*/
.mesli{ width: 100%; font-size: 14px; display: block; overflow: hidden; margin: 15px auto 0 auto;}
.mes-font{ width: 110px; float: left; line-height: 40px; color: #666;}
.meinfo-pic{ width: 790px; float: left;}
.meinfo-pic img{ width: 120px; height: 120px; float: left;}
.mes-text{ width: 300px; height: 38px; border: 1px solid #ddd; float: left; background: none; font-size: 14px; line-height: 38px; padding: 0 10px;}
.mes-btn{ width: 150px; height: 40px; background: #ff5c3c; border: none; color: #fff; text-align: center; line-height: 40px; font-size: 16px; margin-top: 10px;}
.mes-btn:hover{ cursor: pointer; background: #00b78e;}
.mes-phone{ float: left; line-height: 40px;}
.mes-sex{ width: 16px; height: 16px; margin: 12px 0; float: left;}
.sex-l{ float: left; line-height: 40px; margin: 0 15px 0 5px; cursor: pointer;}
.meadr{ width: 790px; float: left; display: block; overflow: hidden;}
.meadr-li{ width: 100%; display: block; overflow: hidden; margin: 10px 0 0 0;}
.meadr-li em{ float: left; border: 1px solid #ddd; color: #999; line-height: 24px; display: block; overflow: hidden; margin: 8px 8px 0 0; padding: 0 5px;}
.meadr-li span{ float: left; line-height: 40px; display: block; overflow: hidden; margin-right: 10px;}
.meadr-li a{ float: left; color: #ff5c3c; margin-left: 5px; line-height: 40px;}

/*orders*/
.orders{ width: 100%; display: block; overflow: hidden;}
.orders-lam{ width: 100%; display: block; overflow: hidden; margin-top: 10px;}
.orders-lam a{ float: left; text-decoration: none; line-height: 30px; margin-right: 25px; color: #666;}
.orders-lam a:hover{ color: #ff5c3c;}
.orders-lam a.oaction{ color: #ff5c3c; border-bottom: 3px solid #ff5c3c;}
.orders-info{ width: 925px; background: #f7f7f7; display: block; overflow: hidden; margin: 15px 0 0 0;}
.orders-info span{ line-height: 40px; float: left; display: block; overflow: hidden; color: #666;}
.orders-info .oi-w01{ width: 425px; padding: 0 10px;}
.orders-info .oi-w02{ width: 140px; padding: 0 10px;}
.orders-li{ width: 923px; border: 1px solid #ddd; display: block; overflow: hidden; margin: 15px 0 0 0;}
.orders-li-num{ width: 903px; display: block; overflow: hidden; padding: 0 10px; background: #f7f7f7; line-height: 30px; color: #999;}
.orders-li-other{ width: 925px; display: block; overflow: hidden;}
.orders-li-other .ol-w01{ width: 423px; padding: 10px; height: 60px; border-right:1px solid #eee; display: block; overflow: hidden; float: left;}
.orders-li-other .ol-w02{ width: 139px; padding: 10px; height: 60px; border-right:1px solid #eee; display: block; overflow: hidden; float: left;}
.orders-li-other .ol-pic{ float: left; width: 60px; height: 60px;}
.orders-li-other .ol-pic img{ width: 60px; float: left;}
.orders-li-other .ol-info{ width: 350px; float: right; display: block; overflow: hidden; line-height: 30px;}
.orders-li-other .ol-info a{ text-decoration: none;}
.orders-li-other .ol-info em{ display: block; font-style: normal; color: #999;}
.orders-li-other .ol-adr span{ display: block; line-height: 30px; color: #666;}
.orders-li-other .ol-price span{ display: block; line-height: 30px; color: #ff5c3c;}
.orders-li-other .ol-price a{ line-height: 30px; text-decoration: none;}
.orders-li-other .ol-a a{ display: block; overflow: hidden; line-height: 30px; text-decoration: none; color: #ff5c3c; float: left; margin-right: 15px;}

/*orders-details*/
.orders-d-top{ width: 100%; display: block; overflow: hidden;}
.orders-d-top .od-num{ line-height: 50px; display: block; overflow: hidden;}
.orders-d-top .od-status{ width: 100%; display: block; overflow: hidden; padding-bottom: 20px;}
.orders-d-top .od-status em{ font-size: 18px; color: #ff5c3c; float: left; line-height: 30px; font-style: normal; font-weight: bold; margin-right: 100px;}
.orders-d-top .od-status a{ float: left; border: 1px solid #999; color: #666; margin:3px 10px; line-height: 24px; padding: 0 10px; display: block; overflow: hidden; border-radius: 10px;}
.orders-d-info{ width: 895px; display: block; overflow: hidden; background: #f7f7f7; padding: 15px; font-size: 12px;}
.orders-d-pic{ width: 100%; display: block; overflow: hidden; padding-bottom: 15px; border-bottom: 1px solid #eee; margin-bottom: 15px;}
.orders-d-pic .od-pic{ width: 100px; height: 100px; float: left; display: block; overflow: hidden;}
.orders-d-pic .od-pic img{ width: 100%;}
.orders-d-pic .od-tit{ width: 770px; line-height: 50px; float: right;}
.orders-d-li{ width: 100%; display: block; overflow: hidden; line-height: 24px;}
.orders-d-li em{ float: left; width: 100px; font-style: normal; color: #999;}

/*evas*/
.evas{ width: 100%; display: block; overflow: hidden;}
.evas-store{ width: 100%; display: block; overflow: hidden; line-height: 30px;}
.evas-store em{ font-style: normal; float: left;}
.evas-store input{ width: 16px; height: 16px; margin: 7px 0 0 7px; float: left;}
.evas-store label{ float: left; margin-right: 10px; padding: 0 0 0 5px; color: #666; cursor: pointer;}
.evas-text{ width: 100%; display: block; overflow: hidden; margin-top: 10px;}
.evas-text em{ font-style: normal; float: left; line-height: 30px;}
.evas-text textarea{ float: left; line-height: 24px; width: 500px; height: 140px; border: 1px solid #ddd; font-size: 14px; margin: 0 0 0 7px; padding: 3px 10px;}

/*likes*/
.likes{ width: 925px; display: block; overflow: hidden;}
.likes ul{ width: 940px; padding: 0; margin: 0;}
.likes ul li{ width: 170px; list-style: none; float: left; border: 1px solid #eee; margin: 15px 16px 0 0;}
.likes ul li .likes-pic{ width: 150px; height: 150px; padding: 10px 10px 0 10px;}
.likes ul li .likes-pic img{ width: 100%; float: left;}
.likes ul li .likes-tit{ width: 150px; padding: 0 10px; height: 40px; line-height: 40px; display: block; overflow: hidden;}
.likes ul li .likes-a{ width: 100%; height: 30px; background: #f7f7f7; display: block; overflow: hidden;}
.likes ul li .likes-a a{ width: 33.33%; text-align: center; display: block; overflow: hidden; float: left; line-height: 30px; color: #999; font-size: 12px;}
.likes ul li .likes-a a:hover{ color: #ff5c3c;}

/*notes*/
.notes{ width: 925px; display: block; overflow: hidden;}
.notes ul{ padding: 0; margin: 0;}
.notes ul li{ width: 100%; list-style: none; float: left; margin: 15px 0 0 0;}
.notes ul li .notes-time{ line-height: 30px;}
.notes ul li .notes-time em{ margin-right: 10px;}
.notes ul li .notes-ok{ color: #999;}
.notes ul li .notes-no{ color: #ff5c3c;}
.notes ul li .notes-tit{ line-height: 40px; display: block; overflow: hidden; width: 895px; padding:0 15px; background: #f7f7f7; border-bottom: 1px solid #eee;}
.notes ul li .notes-cot{ line-height: 24px; width: 895px; padding:10px 15px; margin: 0; background: #f7f7f7; display: block; overflow: hidden; color: #666;}

.notes ul li .notes-cot img{ max-width: 100%;}

/*adr*/
.mesadr{ float: left; display: block; overflow: hidden;}
.mes-adr{ display: block; overflow: hidden; float: left; width: 90px; text-align: center; padding: 0 10px; line-height: 38px; border: 1px solid #ddd; background: none; outline: none; font-size: 14px; margin: 0 10px 0 0;}
.mesadr-cot{ width: 500px; display: block; overflow: hidden; position: absolute; background: #eee; border: 0 solid #333; margin: 45px 0 0 0;}
.mesadr-cot em{ width: 480px; line-height: 40px; color: #fff; background: #333; display: block; overflow: hidden; padding-left: 20px; font-style: normal;}
.mesadr-cot em a{ color: #fff; float: right; padding-right: 20px;}
.mesadr-cot span{ display: block; overflow: hidden; padding: 10px 0;}
.mesadr-cot span a{ width: 100px; float: left; line-height: 30px; padding-left: 20px;}
.mesadr-cot span a:hover{ color: #ff5c3c;}
.adrcheck{ border-color:#000;}

/*members*/
.jm-members{ width: 925px; display: block; overflow: hidden;}
.jm-members ul{ padding: 0; margin: 0;}
.jm-members ul li{ width:100%; display: block; overflow: hidden; padding: 10px 0; background: #f7f7f7; margin-top: 10px;}
.jm-members ul li img{ width: 60px; height: 60px; border-radius: 50%; float: left; margin-left: 15px;}
.jm-members ul li .jm-r{ width: 820px; float: right; margin-top: 6px; display: block; overflow: hidden;}
.jm-members ul li em{ line-height: 24px; float: left; display: block; overflow: hidden; color: #333; font-style: normal; margin-right: 25px;}
.jm-members ul li span{ margin-left: 20px; line-height: 24px; float: left; display: block; overflow: hidden; color: #666;}
.jm-members ul li p{ width: 800px; display: block; overflow: hidden; padding: 0 20px 0 0; margin: 0; line-height: 24px; color: #999; font-size: 12px; text-align: right;}

.notes ul li .notes-cot img{ max-width: 100%;}
.notes ul li .notes-cot img{ max-width: 100%;}

/*materials*/
.materials{ width: 880px; display: block; overflow: hidden; margin: 0 auto;}
.mat-type{ width: 100%; display: block; overflow: hidden; background: #f7f7f7; padding: 15px 0;}
.mat-type em{ float: left; line-height: 36px; font-style: normal; margin:0 5px 0 15px;}
.mat-type .mat-s{ width: 150px; height: 34px; border: 1px solid #ddd; background: #fff; float: left; margin-right: 20px; line-height: 34px; padding: 0 0 0 10px; display: block; overflow: hidden; outline: none;}
.mat-type .mat-t{ width: 200px; height: 34px; border: 1px solid #ddd; float: left; background: #fff; display: block; overflow: hidden; outline: none; padding: 0 10px;}
.mat-type .mat-b{ width: 60px; height: 36px; border: none; float: left; background: #333; display: block; overflow: hidden; outline: none; text-align: center; line-height: 36px; color: #fff;cursor: pointer; }
.mat-cot{ width: 1000px; display: block; overflow: hidden;}
.mat-li{ width: 206px; display: block; overflow: hidden; border: 1px solid #ddd; float: left; font-size: 14px; margin: 15px 15px 0 0;}
.mat-li:hover{ border-color:#333;}
.mat-li-t{ width: 100%;}
.mat-li-t img{ width: 90px; height: 90px; margin: 10px; float: left;}
.mat-li-r{ width: 88px; display: block; overflow: hidden; float: left; margin: 10px 0 0 0;}
.mat-li-r span{ width: 100%; line-height: 22px; max-height: 66px; display: block; overflow: hidden;}
.mat-li-r em{ font-style: normal; line-height: 28px;}
.mat-num{ width: 100%; display: block; overflow: hidden; line-height: 40px; text-align: center; background: #f7f7f7; color: #999;}
.mat-num em{ font-style: normal; font-weight: bold; color: #333;}
.mat-a{ width: 100%; display: block; overflow: hidden; border-top: 1px solid #ddd; background: #f2f2f2; line-height: 30px;}
.mat-buy{ width: 102px; border-right: 1px solid #ddd; display: block; overflow: hidden; text-align: center; float: left; color: #ff5c3c;}
.mat-set{ width: 103px; display: block; overflow: hidden; text-align: center; float: left; color: #999;}
/*members*/
.infos-lam{ width: 880px; line-height: 50px; border-bottom: 1px solid #eee; font-size: 16px;}
.jm-members{ width: 880px; display: block; overflow: hidden;}
.jm-members ul{ padding: 0; margin: 0;}
.jm-members ul li{ width:100%; display: block; overflow: hidden; padding: 10px 0; background: #f7f7f7; margin-top: 10px;}
.jm-members ul li img{ width: 60px; height: 60px; border-radius: 50%; float: left; margin-left: 15px;}
.jm-members ul li .jm-r{ width: 790px; float: right; margin-top: 6px; display: block; overflow: hidden;}
.jm-members ul li em{ line-height: 24px; float: left; display: block; overflow: hidden; color: #333; font-style: normal; margin-right: 25px;}
.jm-members ul li span{ margin-left: 20px; line-height: 24px; float: left; display: block; overflow: hidden; color: #666;}
.jm-members ul li p{ width: 770px; display: block; overflow: hidden; padding: 0 20px 0 0; margin: 0; line-height: 24px; color: #999; font-size: 12px; text-align: right;}

/*subs*/
.subs{ width: 1000px; min-height: 500px; display: block; overflow: hidden; background: #fff; padding:0; margin: 0 auto;}
.subs-lam{ width: 100%; line-height: 40px; font-size: 18px; display: block; overflow: hidden; background: #333; color: #fff; text-indent: 20px;}
.subs-li{ width: 950px; display: block; overflow: hidden; padding: 25px; border-bottom: 1px solid #eee;}
.subs-tit{ font-size: 14px; font-weight: bold; display: block; overflow: hidden;}
.subs-adr{ width: 100%; display: block; overflow: hidden; margin-top: 10px;}
.subs-adr em{ height: 20px; display: block; overflow: hidden; float: left; border: 1px solid #ff5c3c; padding: 0 10px; font-size: 12px; line-height: 20px; margin: 4px; color: #ff5c3c;}
.subs-adr span{ float: left; margin-right: 10px; line-height: 30px;}
.subs-order{ width: 930px; display: block; overflow: hidden; background: #f7f7f7; padding: 10px; margin: 10px 0 0 0;}
.subs-order-tit{ width: 100%; display: block; overflow: hidden; line-height: 30px;}
.subs-order-info{ width: 600px; float: left; display: block; overflow: hidden; padding-left: 30px;}
.subs-order-info img{ width: 60px; height: 60px; float: left; margin-right: 5px;}
.subs-order-info span{ width: 550px; display: block; overflow: hidden; line-height: 30px; float: right;}
.subs-order-right{ width: 150px; height: 60px; text-align: center; line-height: 60px; display: block; overflow: hidden; float: left;}

/*pays*/
.pays-info{ width: 900px; display: block; overflow: hidden; background: #f5f5f5; margin: 25px; padding:15px 25px;}
.pays-info span{ line-height: 30px; width: 100%; display: block; overflow: hidden;}
.pays-n{ width: 100%; display: block; overflow: hidden; text-align: center; line-height: 50px;}
.pays-n em{ font-style: normal; color: #ff6600; font-size: 24px;}
.pays-type{ width: 600px; display: block; overflow: hidden; margin: 0 auto 50px auto; border: 1px solid #ddd;}
.pays-type-lam{ width: 600px; height: 40px; line-height: 40px; margin: 0 auto; background: #eee; border-bottom: 1px solid #ddd;}
.pays-type-lam a{ float: left; padding: 0 25px;}
.pays-type-lam a.payaction{ background: #fff; height: 41px;}
.pays-type-cot{ width: 600px; display: block; overflow: hidden; margin: 0 auto;}
.pays-type-cot .ptc{ width: 100%; display: none; overflow: hidden; margin: 0 auto; padding: 50px 0 30px 0;}
.pays-type-cot .ptc img{ width: 200px; display: block; overflow: hidden; margin: 0 auto; border: 1px solid #000;}
.pays-type-cot .ptc span{ width:100%; display: block; overflow: hidden; margin: 0 auto; text-align: center; line-height: 50px;}


/*订单详情*/
.ordet{ width: 802px; display: block; overflow: hidden; margin: 25px auto;}
.ordet-top{ width: 760px; display: block; overflow: hidden; margin: 0 auto; padding:10px 20px; border: 1px solid #eee; border-top: 3px solid #333;}
.ordet-top .ot-num{ line-height: 50px; display: block; overflow: hidden;}
.ordet-top .ot-status{ width: 100%; display: block; overflow: hidden; padding-bottom: 20px;}
.ordet-top .ot-status em{ font-size: 18px; color: #ff5c3c; float: left; line-height: 30px; font-style: normal; font-weight: bold; margin-right: 100px;}
.ordet-top .ot-status a{ float: left; border: 1px solid #999; color: #666; margin:3px 10px; line-height: 24px; padding: 0 10px; display: block; overflow: hidden; border-radius: 10px;}
.ordet-info{ width: 760px; display: block; overflow: hidden; padding:20px 20px 10px 20px; font-size: 14px; border: 1px solid #eee; border-top: none;}
.ordet-pic{ width: 100%; display: block; overflow: hidden; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #eee;}
.ordet-pic .op-pic{ width: 60px; height: 60px; float: left; display: block; overflow: hidden;}
.ordet-pic .op-pic img{ width: 100%;}
.ordet-pic .op-tit{ width: 200px; line-height: 30px; float: left; margin-left: 20px;}
.ordet-pic .op-cot{ width: 400px; display: block; overflow: hidden; float: right;}
.ordet-pic .op-li{ display: block; overflow: hidden; line-height: 30px; float: left; margin-right: 20px; font-size: 12px;}
.ordet-pic .op-li em{ float: left; padding-right: 10px; font-style: normal; color: #999;}
.ordet-lam{ width: 800px; display: block; overflow: hidden; line-height: 40px; background: #f7f7f7; text-indent: 20px; border: 1px solid #eee;}
.ordet-adr{ width: 760px; display: block; overflow: hidden; margin:0 auto; padding:15px 20px; border: 1px solid #eee; border-top: none;}
.ordet-adr .oa-li{ width: 100%; display: block; overflow: hidden; line-height: 30px; float: left; margin-right: 30px;}
.ordet-adr .oa-li em{ float: left; padding-right: 10px; font-style: normal; color: #999;}
.ordet-pay{ width: 760px; display: block; overflow: hidden; margin:0 auto; padding:15px 20px; border: 1px solid #eee; border-top: none;}
.ordet-pay .oy-li{ width: 100%; display: block; overflow: hidden; line-height: 30px; float: left; margin-right: 30px;}
.ordet-pay .oy-li em{ float: left; padding-right: 10px; font-style: normal; color: #999;}
.ordet-pay .oy-price{ color: #ff5c3c; font-size: 18px; font-weight: bold;}

/*订单搜索*/
.orders-search{ width: 100%; display: block; overflow: hidden; margin:0 auto; background: #f7f7f7; padding: 10px 0;}
.orders-search .orders-text{ width: 200px; line-height: 32px; height: 32px; border: 1px solid #ddd; background: #fff; padding: 0 10px; outline: none;}
.orders-search .orders-btn{ width: 60px; height: 32px; line-height: 32px; border: none; background: #333; color: #fff; text-align: center; outline: none; float: left; margin-left: 10px;}
/*模板案例栏目*/
.cases-lam{ font-size: 16px; font-weight: bold; padding-bottom: 15px; display: block; overflow: hidden;}
.cases-lam a{ float: left; margin-right: 20px;}
.cases-lam .claction{ color: #ff5c3c;}
.cases-li{ width: 1150px; display: block; overflow: hidden; border-top: 1px dashed #eee; padding: 10px 0;}
.cases-li a{ text-decoration: none; color: #333; margin-right: 25px; float: left; line-height: 30px;}
.cases-li a:hover{ color: #ff5c3c;}


.payli{ width: 100%; display: block; overflow: hidden; margin-top: 15px;}
.payli input{ width: 16px; height: 16px; margin: 7px; float: left;}
.payli img{ height: 28px; float: left;}
.payli em{ float: left; line-height: 30px; font-style: normal; margin-left: 5px;}


/*意见反馈*/
.yjfk-t{ width: 400px; height: 120px; border: 1px solid #ddd; float: left; background: none; font-size: 12px; line-height: 24px; padding: 0 10px;}
.yjfkli{ width: 900px; display: block; overflow: hidden; background: #f9f9f9; padding:10px 15px; margin-top: 15px;}
.yjfkli .yjfk-ok{ color: #999; font-style: normal;}
.yjfkli .yjfk-no{ color: #ff5c3c; font-style: normal;}
.yjfkli span{ width: 100%; display: block; overflow: hidden; line-height: 24px; padding: 10px 0;}
.yjfk-me em{ font-style: normal; display: block; overflow: hidden; font-weight: bold;}
.yjfk-hf{ color: #ff5c3c; border-top: 1px solid #eee;}


/*分页样式*/
#page{ width:100%; display:block; overflow:hidden; margin:20px 0;}
#page .page-item{ display:block; overflow:hidden; float:left; text-align:center; line-height:40px; min-width:40px; background:#eee; margin-right:10px;}
#page .page-item a{ text-decoration:none;padding:0 10px; display:block; overflow:hidden; color:#666;}
#page .page-item.active{ background:#ff5c3c; color: #fff;}
#page .page-item.active a{ color:#fff !important;}
#page .page-item:hover a{ color:#ff5c3c;}
#page .page-item:hover span{ color:#333; cursor:pointer;}
#page .page-item span{ padding:0 10px; display:block; overflow:hidden;}

.op-type{ display: block; overflow: hidden; line-height: 30px; float: left; font-size: 12px;}
.op-type em{ float: left; padding-right: 10px; font-style: normal; color: #999;}
.op-cl{ width: 680px; display: block; overflow: hidden; padding-left: 80px; margin-top: 15px; float: left; font-size: 12px;}
.op-cl-pic{ width: 638px; display: block; overflow: hidden;border:1px solid #ddd; padding: 20px;}
.op-cl-pic span{ width: 100%; display: block; overflow: hidden; line-height: 30px;}
.op-cl-pic img{ height: 60px; float: left; margin-right: 10px;}
.op-cl-info{ width: 638px; display: block; overflow: hidden; border:1px solid #ddd; border-top: none; padding: 20px;}
.oci-lam{ width: 100%; display: block; overflow: hidden; line-height: 30px;}
.oci-cot{ width: 100%; display: block; overflow: hidden; line-height: 30px; border-top:1px solid #eee; padding: 10px 0;}
.oci-li{ display: block; overflow: hidden; line-height: 30px; float: left; margin-right: 20px;}
.oci-li em{ float: left; padding-right: 10px; font-style: normal; color: #999;}

/*在线设计按钮*/
.pdetails-right .pr-sub-btn{ height: 40px; float: left; display: block; overflow: hidden; font-size: 16px; color: #fff; padding: 0 20px 0 50px;  border: none; text-align: center; line-height: 40px; outline: none;}